<style>
    .branch-box {
        background-color: #fafbfc;
        padding: 0px 15px;
        margin: 15px 0px;
        border: 1px solid #d1d8dd;
        border-radius: 3px;
        font-size: 12px;
    }
</style>

<div class="clearfix"></div>

{% for(var i=0, l=branch_list.length; i<l; i++) { %}
    <div class="branch-box">
        <p class="h6">
            สาขาที่ {%= branch_list[i].branch %}
            <a href="#Form/Wht%20Branch/{%= branch_list[i].name %}"
                class="btn btn-default btn-xs pull-right">
                {%= __("แก้ไข") %}</a>
        </p>
        <div style="padding-left: 15px;">
            <p style="margin-top: 5px; font-size: 12px;">
                {%= branch_list[i].display %}
            </p>
        </div>
    </div>
{% } %}

{% if(!branch_list.length) { %}
<p class="text-muted">{%= __("ยังไม่ได้เพิ่ม สาขา") %}</p>
{% } %}

<p><button class="btn btn-xs btn-default btn-branch">เพิ่มสาขา</button></p>